--
-- PostgreSQL database dump
--

\restrict nK9wczHNgQadttpa2jjDScupSK1sQ0GSze0j5SxV34QbmuLVxZJJiydt01g1nVF

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bill_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bill_items (
    item_id integer NOT NULL,
    bill_id integer NOT NULL,
    item_name character varying(255) NOT NULL,
    quantity integer DEFAULT 1,
    unit_price numeric(10,2) NOT NULL,
    total_item_amount numeric(10,2) NOT NULL
);


ALTER TABLE public.bill_items OWNER TO postgres;

--
-- Name: bill_items_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bill_items_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bill_items_item_id_seq OWNER TO postgres;

--
-- Name: bill_items_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bill_items_item_id_seq OWNED BY public.bill_items.item_id;


--
-- Name: bill_line_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bill_line_items (
    id integer NOT NULL,
    bill_id integer NOT NULL,
    description character varying(255) NOT NULL,
    amount numeric(12,2) NOT NULL
);


ALTER TABLE public.bill_line_items OWNER TO postgres;

--
-- Name: bill_line_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bill_line_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bill_line_items_id_seq OWNER TO postgres;

--
-- Name: bill_line_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bill_line_items_id_seq OWNED BY public.bill_line_items.id;


--
-- Name: bills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bills (
    bill_id integer NOT NULL,
    user_id uuid,
    room_id uuid,
    issue_date date NOT NULL,
    due_date date NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    status character varying(20) DEFAULT 'unpaid'::character varying,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    penalty_stage integer DEFAULT 0
);


ALTER TABLE public.bills OWNER TO postgres;

--
-- Name: bills_bill_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bills_bill_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bills_bill_id_seq OWNER TO postgres;

--
-- Name: bills_bill_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bills_bill_id_seq OWNED BY public.bills.bill_id;


--
-- Name: blocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.blocks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.blocks OWNER TO postgres;

--
-- Name: community_rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community_rooms (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    fee_code character varying(50) NOT NULL,
    description text,
    image_url text,
    capacity integer DEFAULT 20,
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.community_rooms OWNER TO postgres;

--
-- Name: community_rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.community_rooms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.community_rooms_id_seq OWNER TO postgres;

--
-- Name: community_rooms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.community_rooms_id_seq OWNED BY public.community_rooms.id;


--
-- Name: fees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fees (
    fee_id integer NOT NULL,
    fee_name character varying(255) NOT NULL,
    fee_code character varying(50) NOT NULL,
    price numeric(10,2) NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.fees OWNER TO postgres;

--
-- Name: fees_fee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fees_fee_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fees_fee_id_seq OWNER TO postgres;

--
-- Name: fees_fee_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fees_fee_id_seq OWNED BY public.fees.fee_id;


--
-- Name: news; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    image_url text,
    created_at timestamp with time zone DEFAULT now(),
    author_id uuid,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL
);


ALTER TABLE public.news OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    message text NOT NULL,
    link_to text,
    is_read boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: room_bookings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_bookings (
    id integer NOT NULL,
    resident_id uuid NOT NULL,
    room_id integer,
    booking_date date NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    total_price numeric(10,2) NOT NULL,
    status character varying(20) DEFAULT 'confirmed'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.room_bookings OWNER TO postgres;

--
-- Name: room_bookings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.room_bookings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.room_bookings_id_seq OWNER TO postgres;

--
-- Name: room_bookings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.room_bookings_id_seq OWNED BY public.room_bookings.id;


--
-- Name: room_type_policies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_type_policies (
    type_code character varying(10) NOT NULL,
    description character varying(255),
    max_cars integer DEFAULT 1,
    max_motorbikes integer DEFAULT 2,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    max_bicycles integer DEFAULT 2
);


ALTER TABLE public.room_type_policies OWNER TO postgres;

--
-- Name: rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rooms (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    room_number character varying(50) NOT NULL,
    floor integer NOT NULL,
    status character varying(50) DEFAULT 'available'::character varying,
    block_id uuid NOT NULL,
    resident_id uuid,
    area numeric(5,2) DEFAULT 0,
    bedrooms integer DEFAULT 1,
    room_type character varying(10) DEFAULT 'A'::character varying
);


ALTER TABLE public.rooms OWNER TO postgres;

--
-- Name: service_rates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.service_rates (
    id integer NOT NULL,
    service_name character varying(50) NOT NULL,
    rate numeric(12,2) NOT NULL,
    unit character varying(20) NOT NULL
);


ALTER TABLE public.service_rates OWNER TO postgres;

--
-- Name: service_rates_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.service_rates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.service_rates_id_seq OWNER TO postgres;

--
-- Name: service_rates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.service_rates_id_seq OWNED BY public.service_rates.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    transaction_id integer NOT NULL,
    bill_id integer,
    user_id uuid,
    payment_method character varying(50) DEFAULT 'paypal'::character varying,
    paypal_transaction_id character varying(255),
    amount numeric(10,2) NOT NULL,
    status character varying(20) NOT NULL,
    message text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: transactions_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transactions_transaction_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transactions_transaction_id_seq OWNER TO postgres;

--
-- Name: transactions_transaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transactions_transaction_id_seq OWNED BY public.transactions.transaction_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    full_name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    apartment_number character varying(20),
    is_verified boolean DEFAULT false,
    verification_token text,
    created_at timestamp with time zone DEFAULT now(),
    password_reset_token text,
    password_reset_expires timestamp with time zone,
    role character varying(20) DEFAULT 'user'::character varying NOT NULL,
    phone_number character varying(20),
    phone character varying(30),
    is_active boolean DEFAULT true,
    last_room_id uuid
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: vehicle_card_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehicle_card_requests (
    id integer NOT NULL,
    resident_id uuid NOT NULL,
    request_type character varying(10) NOT NULL,
    target_card_id integer,
    vehicle_type character varying(10) NOT NULL,
    full_name character varying(255) NOT NULL,
    dob date,
    phone character varying(20),
    relationship character varying(100),
    license_plate character varying(20),
    brand character varying(100),
    color character varying(50),
    proof_image_url character varying(255),
    reason text,
    status character varying(10) DEFAULT 'pending'::character varying NOT NULL,
    requested_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    reviewed_by uuid,
    reviewed_at timestamp with time zone,
    admin_notes text,
    one_time_fee_amount numeric(10,2) DEFAULT 0,
    billed_in_bill_id integer,
    CONSTRAINT vehicle_card_requests_request_type_check CHECK (((request_type)::text = ANY ((ARRAY['register'::character varying, 'reissue'::character varying, 'cancel'::character varying])::text[]))),
    CONSTRAINT vehicle_card_requests_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying])::text[]))),
    CONSTRAINT vehicle_card_requests_vehicle_type_check CHECK (((vehicle_type)::text = ANY ((ARRAY['car'::character varying, 'motorbike'::character varying, 'bicycle'::character varying])::text[])))
);


ALTER TABLE public.vehicle_card_requests OWNER TO postgres;

--
-- Name: vehicle_card_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vehicle_card_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vehicle_card_requests_id_seq OWNER TO postgres;

--
-- Name: vehicle_card_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vehicle_card_requests_id_seq OWNED BY public.vehicle_card_requests.id;


--
-- Name: vehicle_cards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehicle_cards (
    id integer NOT NULL,
    resident_id uuid NOT NULL,
    card_user_name character varying(255) NOT NULL,
    vehicle_type character varying(10) NOT NULL,
    license_plate character varying(20),
    brand character varying(100),
    color character varying(50),
    card_identifier character varying(50),
    status character varying(10) DEFAULT 'active'::character varying NOT NULL,
    issued_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp with time zone,
    created_from_request_id integer,
    CONSTRAINT vehicle_cards_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying, 'lost'::character varying, 'canceled'::character varying])::text[]))),
    CONSTRAINT vehicle_cards_vehicle_type_check CHECK (((vehicle_type)::text = ANY ((ARRAY['car'::character varying, 'motorbike'::character varying, 'bicycle'::character varying])::text[])))
);


ALTER TABLE public.vehicle_cards OWNER TO postgres;

--
-- Name: vehicle_cards_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vehicle_cards_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vehicle_cards_id_seq OWNER TO postgres;

--
-- Name: vehicle_cards_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vehicle_cards_id_seq OWNED BY public.vehicle_cards.id;


--
-- Name: bill_items item_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill_items ALTER COLUMN item_id SET DEFAULT nextval('public.bill_items_item_id_seq'::regclass);


--
-- Name: bill_line_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill_line_items ALTER COLUMN id SET DEFAULT nextval('public.bill_line_items_id_seq'::regclass);


--
-- Name: bills bill_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bills ALTER COLUMN bill_id SET DEFAULT nextval('public.bills_bill_id_seq'::regclass);


--
-- Name: community_rooms id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_rooms ALTER COLUMN id SET DEFAULT nextval('public.community_rooms_id_seq'::regclass);


--
-- Name: fees fee_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fees ALTER COLUMN fee_id SET DEFAULT nextval('public.fees_fee_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: room_bookings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_bookings ALTER COLUMN id SET DEFAULT nextval('public.room_bookings_id_seq'::regclass);


--
-- Name: service_rates id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_rates ALTER COLUMN id SET DEFAULT nextval('public.service_rates_id_seq'::regclass);


--
-- Name: transactions transaction_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions ALTER COLUMN transaction_id SET DEFAULT nextval('public.transactions_transaction_id_seq'::regclass);


--
-- Name: vehicle_card_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_card_requests ALTER COLUMN id SET DEFAULT nextval('public.vehicle_card_requests_id_seq'::regclass);


--
-- Name: vehicle_cards id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_cards ALTER COLUMN id SET DEFAULT nextval('public.vehicle_cards_id_seq'::regclass);


--
-- Data for Name: bill_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bill_line_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bills; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: blocks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.blocks (id, name) FROM stdin;
83d53bc8-664d-4f7c-8e65-0b8a232bb7ba	A
01c61932-b7c2-4af8-ab2c-c4e291d35c6b	B
45d7b9f6-4402-4df8-b6c7-fb3cbc758391	C
\.


--
-- Data for Name: community_rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: news; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: room_bookings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: room_type_policies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room_type_policies (type_code, description, max_cars, max_motorbikes, created_at, updated_at, max_bicycles) FROM stdin;
A	Type A: 1 Bedroom (45m2)	1	2	2025-11-27 11:05:49.523615+07	2025-11-27 11:05:49.523615+07	2
B	Type B: 2 Bedrooms (70m2)	2	3	2025-11-27 11:05:49.523615+07	2025-11-27 11:05:49.523615+07	3
\.


--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: service_rates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.service_rates (id, service_name, rate, unit) FROM stdin;
1	management_fee	500000.00	VND/th┬áng
2	bqt_fee	5000.00	VND/th┬áng
3	car_fee_monthly	500000.00	VND/xe/th┬áng
4	motorbike_fee_monthly	100000.00	VND/xe/th┬áng
5	bicycle_fee_monthly	50000.00	VND/xe/th┬áng
6	car_card_onetime	200000.00	VND/th?
7	motorbike_card_onetime	100000.00	VND/th?
8	bicycle_card_onetime	20000.00	VND/th?
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vehicle_card_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vehicle_cards; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: bill_items_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bill_items_item_id_seq', 125, true);


--
-- Name: bill_line_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bill_line_items_id_seq', 109, true);


--
-- Name: bills_bill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bills_bill_id_seq', 42, true);


--
-- Name: community_rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.community_rooms_id_seq', 3, true);


--
-- Name: fees_fee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fees_fee_id_seq', 21, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 322, true);


--
-- Name: room_bookings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_bookings_id_seq', 9, true);


--
-- Name: service_rates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.service_rates_id_seq', 8, true);


--
-- Name: transactions_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transactions_transaction_id_seq', 7, true);


--
-- Name: vehicle_card_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vehicle_card_requests_id_seq', 28, true);


--
-- Name: vehicle_cards_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vehicle_cards_id_seq', 12, true);


--
-- Name: bill_items bill_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill_items
    ADD CONSTRAINT bill_items_pkey PRIMARY KEY (item_id);


--
-- Name: bill_line_items bill_line_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill_line_items
    ADD CONSTRAINT bill_line_items_pkey PRIMARY KEY (id);


--
-- Name: bills bills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT bills_pkey PRIMARY KEY (bill_id);


--
-- Name: blocks blocks_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT blocks_name_key UNIQUE (name);


--
-- Name: blocks blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT blocks_pkey PRIMARY KEY (id);


--
-- Name: community_rooms community_rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community_rooms
    ADD CONSTRAINT community_rooms_pkey PRIMARY KEY (id);


--
-- Name: fees fees_fee_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_fee_code_key UNIQUE (fee_code);


--
-- Name: fees fees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_pkey PRIMARY KEY (fee_id);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: room_bookings room_bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_bookings
    ADD CONSTRAINT room_bookings_pkey PRIMARY KEY (id);


--
-- Name: room_type_policies room_type_policies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_type_policies
    ADD CONSTRAINT room_type_policies_pkey PRIMARY KEY (type_code);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: service_rates service_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_rates
    ADD CONSTRAINT service_rates_pkey PRIMARY KEY (id);


--
-- Name: service_rates service_rates_service_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_rates
    ADD CONSTRAINT service_rates_service_name_key UNIQUE (service_name);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (transaction_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vehicle_card_requests vehicle_card_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_card_requests
    ADD CONSTRAINT vehicle_card_requests_pkey PRIMARY KEY (id);


--
-- Name: vehicle_cards vehicle_cards_card_identifier_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_cards
    ADD CONSTRAINT vehicle_cards_card_identifier_key UNIQUE (card_identifier);


--
-- Name: vehicle_cards vehicle_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_cards
    ADD CONSTRAINT vehicle_cards_pkey PRIMARY KEY (id);


--
-- Name: idx_bill_line_items_bill_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_line_items_bill_id ON public.bill_line_items USING btree (bill_id);


--
-- Name: idx_room_number_per_block; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_room_number_per_block ON public.rooms USING btree (room_number, block_id);


--
-- Name: idx_rooms_block_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rooms_block_id ON public.rooms USING btree (block_id);


--
-- Name: idx_vehicle_card_requests_resident_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vehicle_card_requests_resident_id ON public.vehicle_card_requests USING btree (resident_id);


--
-- Name: idx_vehicle_card_requests_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vehicle_card_requests_status ON public.vehicle_card_requests USING btree (status);


--
-- Name: idx_vehicle_cards_resident_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vehicle_cards_resident_id ON public.vehicle_cards USING btree (resident_id);


--
-- Name: bill_items bill_items_bill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill_items
    ADD CONSTRAINT bill_items_bill_id_fkey FOREIGN KEY (bill_id) REFERENCES public.bills(bill_id) ON DELETE CASCADE;


--
-- Name: bills bills_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT bills_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id);


--
-- Name: bills bills_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bills
    ADD CONSTRAINT bills_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: vehicle_card_requests fk_billed_in_bill_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_card_requests
    ADD CONSTRAINT fk_billed_in_bill_id FOREIGN KEY (billed_in_bill_id) REFERENCES public.bills(bill_id) ON DELETE SET NULL;


--
-- Name: vehicle_cards fk_created_from_request; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_cards
    ADD CONSTRAINT fk_created_from_request FOREIGN KEY (created_from_request_id) REFERENCES public.vehicle_card_requests(id) ON DELETE SET NULL;


--
-- Name: news news_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: room_bookings room_bookings_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_bookings
    ADD CONSTRAINT room_bookings_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.community_rooms(id);


--
-- Name: rooms rooms_block_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_block_id_fkey FOREIGN KEY (block_id) REFERENCES public.blocks(id);


--
-- Name: rooms rooms_resident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_resident_id_fkey FOREIGN KEY (resident_id) REFERENCES public.users(id);


--
-- Name: transactions transactions_bill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_bill_id_fkey FOREIGN KEY (bill_id) REFERENCES public.bills(bill_id);


--
-- Name: transactions transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: vehicle_card_requests vehicle_card_requests_resident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_card_requests
    ADD CONSTRAINT vehicle_card_requests_resident_id_fkey FOREIGN KEY (resident_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: vehicle_card_requests vehicle_card_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_card_requests
    ADD CONSTRAINT vehicle_card_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: vehicle_card_requests vehicle_card_requests_target_card_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_card_requests
    ADD CONSTRAINT vehicle_card_requests_target_card_id_fkey FOREIGN KEY (target_card_id) REFERENCES public.vehicle_cards(id) ON DELETE SET NULL;


--
-- Name: vehicle_cards vehicle_cards_resident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle_cards
    ADD CONSTRAINT vehicle_cards_resident_id_fkey FOREIGN KEY (resident_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict nK9wczHNgQadttpa2jjDScupSK1sQ0GSze0j5SxV34QbmuLVxZJJiydt01g1nVF

